<?xml version="1.0"?>
<!--
  This file is for the purpose of having branch specific application settings.
  
  These settings are shared between multiple projects
-->
<appSettings>
  <!-- DO NOT SET THIS IN A PRODUCTION CONFIG FILE EVER. PCI requires this to NOT be set. -->
  <add key="doNotCatchDotNetErrors" value="y" />
  
  <!-- image service -->
  <add key="ImageServiceUrl" value="https://imgdev.artez.com/" />
  <add key="ImageServiceUsername" value="e2rm_dev" />
  <add key="ImageServicePassword" value="HelloWorld" />

  <!-- urls -->
  <add key="registrantStartup" value="http://localhost/registrant/startup.aspx"/>
  <add key="registrantStartupTemplate" value="http://%SecureCustomURL%/registrant/startup.aspx"/>
  <add key="regV2Startup" value="http://localhost/regV2/regV2.aspx"/>
  <add key="regV2StartupTemplate" value="http://%SecureCustomURL%/regV2/regV2.aspx"/>
  <add key="nonSecureURL" value="http://localhost/registrant/"/>
  <add key="nonSecureURLTemplate" value="http://%nonSecureCustomURL%/registrant"/>


  <!-- these are not actually used - they're just for display (so cassini port numbers are irrelevant) -->
  <add key="apiscoreboardstartup" value="http://localhost/registrant"/>
  <add key="apiscoreboardstartuptemplate" value="http://%SecureCustomURL%"/>
  <add key="apinonsecurescoreboardstartup" value="http://localhost/registrant"/>
  <add key="apinonsecurescoreboardstartuptemplate" value="http://%nonSecureCustomURL%"/>

  <!-- cache flush URLs -->
  <add key="registrantCacheFlushURLs"    value="http://localhost/registrant/cacheFlush.aspx"/>
  <add key="adminCacheFlushURLs"         value="http://localhost/administrator/cacheFlush.aspx"/>
  <add key="regV2CacheFlushURLs"         value="http://localhost/regV2/cacheFlush.aspx"/>
  <add key="webGetServiceCacheFlushURLs" value="http://localhost/webGetService/cacheFlush.aspx"/>
  <add key="webSetServiceCacheFlushURLs" value="http://localhost/webSetService/cacheFlush.aspx"/>

  <!-- this is dumb, what's this for? -->
  <add key="dbTemplateID" value="29"/>

  <!-- set this to you for for dot net error email testing -->
  <add key="errorEmailTo" value="jtorres@artez.com"/>
  <add key="timeoutEmailTo" value="jtorres@artez.com"/>
  
  <!-- SMTP -->
  <add key="smtpServerName" value="curtis" />
  <add key="defaultEmailSenderAddress" value="message@e2rm.com" />
  
  <!-- Public Key for credit card encryption -->
  <add key="publicKey" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;n6i9gIOhr1VcUbTW9t2qzM8tKaSf6LWQDzisl1H6ABHPnqpLaX5nvm9vfzZkps1zT6vp1oiR46XNy3mc5VOijIBaFkJv7t9xVczd9GChLqVWTZmSS+bWb7uwzomwD0Csv8Cg6o7OAxKeQCV8FZViXZuYjx6UwaawMTWWimir3mc=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;"/>

  <!-- temporary directory (needed for PDF header and footer)-->
  <add key="tempDirectory" value="C:\temp\"/>
</appSettings>