<?xml version="1.0"?>
<!--
  This file is for the purpose of having branch specific connection string settings
-->
<connectionStrings>
  <!-- Local Security uses Windows Authentication -->
  <add name="dbConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=e2rm_dev;Integrated Security=true" />
  <!--<add name="dbConnectionString" connectionString="Server=sheldon;Database=e2rm_qa2012a;User Id=e2rm_qa2012a_AdminUser;Password=DrQuack123!" />-->
  <!--<add name="dbConnectionString" connectionString="Server=sheldon;Database=e2rm_dev2012a;User Id=e2rm_dev2012a_AdminUser;Password=JIMMYcricket!2012" />-->
  <!--<add name="dbConnectionString" connectionString="Data Source=trinity;Connect Timeout=90;Initial Catalog=e2rm;User Id=e2rm_ProcessUser;Pwd=e2RMpr0usr;" />-->
  <!--<add name="dbConnectionString" providerName="System.Data.SqlClient" connectionString="Server=sheldon;Database=e2rm_dev2012a;User Id=e2rm_dev2012a_WebUser;Password=JIMMYcricket!2012"/>-->
  <!--<add name="emailActivityDB" connectionString="Data Source=devdb1\sql2005;Initial Catalog=emailActivity;Integrated Security=true" />-->
  <add name="emailActivityDB" connectionString="Database='emailActivity'; server='DEVDB1\SQL2005'; user id='gjohnson'; password='p'"/>
  <add name="sendgridConnectionString" providerName="SendGrid" connectionString="server='smtp.sendgrid.net,587';" />
</connectionStrings>