@model dynamic 

@using System.Threading
@using System.Web.Optimization
@using AngularJSProofofConcept

@{
    Layout = null;
    
}

<!DOCTYPE html>
<html class="ng-scope" ng-app="App" lang="@Thread.CurrentThread.CurrentCulture.Name">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <title>App</title>
        <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        @*<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    </head>
    <body ng-controller="E2rmEventsController" class="ng-scope">
        <div class="wrapper">
            <div class="box">
                <div class="row row-offcanvas row-offcanvas-left">
                    <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
                        <ul class="nav">
                            <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                        </ul>
                        <ul class="nav hidden-xs" id="lg-menu">
                            <li ng-repeat="e2rmEvent in e2rmEvents">
                                <a ng-click="setScreen(e2rmEvent.EventName)"> 
                                    <i class="glyphicon glyphicon-chevron-right"></i>  
                                    <span ng-bind-html="e2rmEvent.EventName"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    
                    <div class="column col-sm-10 col-xs-11" id="main">
                        <div class="navbar navbar-blue navbar-static-top">  
                            <div class="navbar-header">
                                <form name="newEventForm" ng-submit="InsertEventScope(name)"> @*novalidate*@
                                    <div class="appwrap">
                                        <div class="appleft">
                                            <input ng-model="name" class="form-control" name="inputname" type="text" required /> 
                                        </div>
                                        <div class="appleft">
                                            <button type="submit" class="btn btn-primary btn-block">Insert</button> @*ng-disabled="newEventForm.$invalid"*@
                                        </div> 
                                    </div>
                                </form>
                                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand hidden-xs" style="color:white;">E2rm Mobile AngularJS Proof of Concept</a>
                            </div>
                            <nav class="collapse navbar-collapse" role="navigation">
                            </nav>
                        </div>
                        <div class="padding">
                            <div class="full col-sm-9">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <ng-include src="getScreen()"></ng-include> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/App")
        
    </body>
</html>