@model dynamic

<div class="well well-sm"> 
    <h4><i class="glyphicon glyphicon-chevron-right"></i>  <span class="text">E2RM Events</span></h4>
</div>
<div class="panel-heading">
    <h4>{{current}}</h4>
</div>
            




